<div class="element-div">

  <!--Кнопки управления задачей-->
  <div class="element-buttons" *ngIf="type !== 'add'">

    <!--Чекбокс выполнена/не выполнена задача-->
    <mat-checkbox [(ngModel)]="item.completed"
                  title="{{item.completed ? 'Выполнено' : 'Не выполнено'}}"
                  (click)="onCompleteClick()"
                  [disabled]="type == 'edit'">
    </mat-checkbox>

    <!--Кнопка редактирования задачи-->
    <button mat-raised-button
            color="primary"
            class="fa fa-edit btn"
            title="Редактировать"
            (click)="onEditClick()"
            [disabled]="type == 'edit'">
    </button>

    <!--Кнопка отправить в архив/вернуть из архива-->
    <button mat-raised-button
            class="fa btn"
            [ngClass]="{'fa-arrow-circle-o-up': item.archive, 'fa-arrow-circle-o-down': !item.archive}"
            title="{{item.archive ? 'Вернуть из архива' : 'Отправить в архив'}}"
            (click)="onArchiveClick()"
            [disabled]="type == 'edit'">
    </button>

    <!--Кнопка Удалить задачу-->
    <button mat-raised-button
            color="warn"
            class="fa fa-times btn"
            title="Удалить"
            (click)="onRemoveClick()"
            [disabled]="type == 'edit'">
    </button>
  </div>

  <!--Текстовые поля задачи-->
  <div class="inputs-text">

    <!--Заголовок в режиме Просмотра-->
    <span class="title-span" *ngIf="type == 'show'" [ngClass]="{'completed': item.completed, 'archive': item.archive}">{{item.title}}</span>

    <!--Текст в режиме просмотра-->
    <span class="text-span" *ngIf="type == 'show'" [ngClass]="{'completed': item.completed, 'archive': item.archive}">{{item.text}}</span>

    <!--Заголовок в режиме редактирования-->
    <input placeholder="Заголовок"
           #input
           type="title"
           *ngIf="type !== 'show'"
           [(ngModel)]="item.title"
           (blur)="onBlur()"
           (keypress)="onKeyPress($event)">

    <!--Текст в режиме редактирования-->
    <input placeholder="Текст задачи"
           #input
           type="text"
           *ngIf="type !== 'show'"
           [(ngModel)]="item.text"
           (blur)="onBlur()"
           (focus)="onFocus()"
           (keypress)="onKeyPress($event)">

    <!--Кнопка добавить задачу-->
    <button mat-raised-button
            color="accent"
            class="fa fa-plus-circle btn btn-add"
            title="Добавить"
            (click)="onAddClick()"
            *ngIf="type == 'add'"
            [disabled]="!item.text || !item.title">
    </button>

  </div>
</div>
