<div class="element-div">
  <div class="element-buttons" *ngIf="type !== 'add'">
    <button class="btn button-complete" (click)="onCompleteClick()" [disabled]="type == 'edit'">complete</button>
    <button class="btn button-archive" (click)="onArchiveClick()" [disabled]="type == 'edit'">archive</button>
    <button class="btn button-remove" (click)="onRemoveClick()" [disabled]="type == 'edit'">remove</button>
  </div>
  <span *ngIf="type !== 'add'">{{value}}</span>
  <input type="text" *ngIf="type !== 'show'" [(ngModel)]="value">
  <button class="btn button-add" (click)="onAddClick()" *ngIf="type == 'add'" [disabled]="!value">Add</button>
</div>
